services:
  - type: web
    name: expert-session-booking-backend
    runtime: node
    rootDir: backend
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: MONGO_URI
        sync: false
      - key: CLIENT_URL
        sync: false

